<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type = "text/javascript" 
                src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type = "text/javascript" language = "javascript">
                 $(document).ready(function(){

               
                                  localStorage.removeItem("usersdata");
                                    alert("loged out successfully");
                                    window.location='login.html';
                      });
                </script>
    </head>
    <body>
        
        
    </body>
    </html>